<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>816565530168-djpmt308eae6cuc7rc5d5uq1fgr2psq7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.816565530168-djpmt308eae6cuc7rc5d5uq1fgr2psq7</string>
	<key>API_KEY</key>
	<string>AIzaSyC5E94M-o-oTNQ_GBEmNuHDNE4f-MJS3BY</string>
	<key>GCM_SENDER_ID</key>
	<string>816565530168</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dan.UpaxTest</string>
	<key>PROJECT_ID</key>
	<string>upaxtest-a78af</string>
	<key>STORAGE_BUCKET</key>
	<string>upaxtest-a78af.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:816565530168:ios:a32c5149ffac9a7d91c0cd</string>
</dict>
</plist>